{% extends 'layout.html' %}

{% block content %}
<h1 class="text-center">Product List</h1>

{% if products %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Actions</th> 
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.product_id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.price }}</td>
                <td>
                    
                    <a href="{{ url_for('edit_product', product_id=product.product_id) }}" class="btn btn-warning btn-sm">Edit</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>       
    </table>
{% else %}
    <p>No products available.</p>
{% endif %}
{% endblock %}
